@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Protest+Riot&family=Protest+Strike&display=swap');
#welcome {
    font-family: "Protest Riot", sans-serif;
        font-weight: 300;
        font-size: 60px;
        font-style: normal;
}

